<ion-header>
  <ion-toolbar>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="page-content">

		<input class="input-discover" placeholder=" Search Games, Creators, or Friends" />

		<div class="discover-header">
			Top Selling Games
		</div>

		<div class="scrolling-wrapper-flexbox">
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		</div>

		<div class="discover-header">
			Friends Favorites
		</div>

		<div class="scrolling-wrapper-flexbox">
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		</div>



		<div class="discover-header">
			Newly Released
		</div>


		<div class="scrolling-wrapper-flexbox">
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		</div>

		<div class="discover-header">
			Browse all Games
		</div>

		<div class="scrolling-wrapper-flexbox">
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		  <div class="card"></div>
		</div>

	</div>
</ion-content>
