<ion-content>
	<div class="toolbox-header">ToolBox</div>

	<ion-grid>
		<ion-row>
			<ion-col>
				<div class="tool-box-container">
					<label class="tool-box-label">Dice</label>
				</div>
			</ion-col>
			<ion-col>
				<div class="tool-box-container">
					<label class="tool-box-label">Scoreboard</label>
				</div>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<div class="tool-box-container">
					<label class="tool-box-label">Timer</label>
				</div>
			</ion-col>
			<ion-col>
				<div class="tool-box-container">
					<label class="tool-box-label">Game Selector</label>
				</div>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<div class="tool-box-container">
					<label class="tool-box-label">Tool 5</label>
				</div>
			</ion-col>
			<ion-col>
				<div class="tool-box-container">
					<label class="tool-box-label">Tool 6</label>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
