.company-title{
	text-align: center; 
	font-size: 3em;
	margin-top: 2cdem;
}

.company-subtitle{
	text-align: center; 
	font-size: 2em; 
	color: #00b8e6;
	margin-bottom: 2em;
}

.home-button{
	color: #FFF; 
	font-size: 1.5em; 
	padding: .5em 0;
	text-align: center;
	width: 100%;
	border-radius: 1em;
}

.btn-patient{
	background-color: #00b8e6;
}

.btn-clinician{
	background-color: #000;
	margin-top: 1em;
}